/*Body Section*/
* {
    box-sizing: border-box;
}

.page_wrap {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
    background-color: #f5f5ef;
    height: 100%;
}

/*End*/

/* Style the header */
.header {
    background-color: #f5f5ef;
    padding: 20px;
    text-align: center;
}

/*End of Header*/

/* Navigation Bars */

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #f5f5ef;
    text-align: center;
}

/* Style the topnav links */
.topnav a {
    float: none;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Courier New;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ebebe0;
    color: black;
}

/*End of Nav Bar*/

/*Heading & Paragraph*/

h1 {
    font-family: Courier, Monaco, monospace;
}
p.a{
    font-family: Times New Roman;
    font-style: oblique;
}

/*End of Heading & Paragraph*/

/*Map*/
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 350px;
    width: 100%;
}

#footer {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ee5;
}

